.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #00000053;

    background-image: url("/images/backgroundDark.png");
    background-repeat: no-repeat;
    background-size: cover;

    /* border: solid green 2px; */
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    width: 85%;

    /* border: solid blue 2px; */
}

.item {
    margin: 20px;
    color: var(--white);
    align-content: center;
    border-radius: 30px;
    padding-left: 8%;
    background-color: var(--gray-trans);
    text-decoration: none;
    cursor: pointer;
    transition: 150ms;
    height: 130px;
    width: 195px;
}

.item:hover {
    background-color: #292d33f5;
}
.item:active {
    background-color: var(--black);
}