* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    --blackblack: #161a20;
    --black: #222831;
    --gray: #393E46;
    --gray-trans: #393e46e5;
    --darkred: #6A3539;
    --red: #9B2C2C;
    --brightred: #b81a1a;
    --white: #EEEEEE;
}

body {
    background-color: var(--black);
    height: 100%;
    width: 100%;
}


.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;

    background-color: var(--blackblack);
}

.topLeft {
    display: flex;
    align-items: center;
    gap: 0;
    font-size: 14px;
    color: var(--white);
}
#f1logo {
    width: 200px;
}
.topRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.topRight a {
    color: var(--white);
    text-decoration: none;
    font-size: 23px;
    }

header {
    height: 90vh;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #00000053;

    background-image: url("/images/background.webp");
    background-position: 0 -250px;
    background-repeat: no-repeat;
    background-size: cover;

    /* border: solid green 2px; */
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 150px);
    width: 80%;

    /* border: solid blue 2px; */
}

.item {
    margin: 20px;
    color: #EEEEEE;
    align-content: center;
    border-radius: 30px;
    padding-left: 10%;
    background-color: var(--gray-trans);

    box-shadow: ;
    
    /* border: solid var(--brightred) 2px; */
}

footer {
    height: 30vh;
}